In [ ]:
# https://python.plainenglish.io/from-api-to-pandas-getting-json-data-with-python-df127f699b6b

In [1]:
# to handle  data retrieval
import urllib3
from urllib3 import request# to handle certificate verification
import certifi# to manage json data
import json# for pandas dataframes
import pandas as pd# uncomment below if installation needed (not necessary in Colab)
#!pip install certifi

In [ ]:
from datetime import datetime

In [2]:
# handle certificate verification and SSL warnings
# https://urllib3.readthedocs.io/en/latest/user-guide.html#ssl

http = urllib3.PoolManager(cert_reqs='CERT_REQUIRED', ca_certs=certifi.where())

In [ ]:
# get data from the API
url = 'https://api.um.warszawa.pl/api/action/busestrams_get/?resource_id=f2e5503e-927d-4ad3-9500-4ab9e55deb59&apikey=7a621357-5917-4df8-ae3d-8889bb779dd4&type=1'

In [21]:
def load_api_save_file():
    r = http.request('GET', url)
    r.status
    
    # decode json data into a dict object
    data = json.loads(r.data.decode('utf-8'))
    data['result'][:5]
    
    df = pd.json_normalize(data, 'result')
    df.head(10)
    
    # datetime object containing current date and time
    now = datetime.now()

    # dd/mm/YY H:M:S
    dt_string = now.strftime("%d-%m-%Y %H:%M:%S")
    print("date and time =", dt_string)	

    directory = 'ztm_file_export/'
    file_name = "ztm_bus_data_"
    file_name += dt_string

    df.to_csv(directory+file_name)

In [22]:
load_api_save_file()

date and time = 26-06-2021 14:33:50

In [3]:

r = http.request('GET', url)
r.status

200

In [4]:
# decode json data into a dict object
data = json.loads(r.data.decode('utf-8'))
data['result'][:5]

[{'Lines': '213',
  'Lon': 21.1152613,
  'VehicleNumber': '1000',
  'Time': '2021-06-25 23:22:58',
  'Lat': 52.2346205,
  'Brigade': '3'},
 {'Lines': '213',
  'Lon': 21.115043,
  'VehicleNumber': '1001',
  'Time': '2021-06-25 23:56:49',
  'Lat': 52.23463,
  'Brigade': '1'},
 {'Lines': '213',
  'Lon': 21.2196693,
  'VehicleNumber': '1003',
  'Time': '2021-06-26 14:19:17',
  'Lat': 52.1637016,
  'Brigade': '1'},
 {'Lines': '311',
  'Lon': 21.115233,
  'VehicleNumber': '1004',
  'Time': '2021-06-25 21:52:40',
  'Lat': 52.23458,
  'Brigade': '2'},
 {'Lines': '196',
  'Lon': 21.11514,
  'VehicleNumber': '1005',
  'Time': '2021-06-25 23:48:58',
  'Lat': 52.234611,
  'Brigade': '1'}]

In [5]:
df = pd.json_normalize(data, 'result')
df.head(10)

  Lines        Lon VehicleNumber                 Time        Lat Brigade
0   213  21.115261          1000  2021-06-25 23:22:58  52.234620       3
1   213  21.115043          1001  2021-06-25 23:56:49  52.234630       1
2   213  21.219669          1003  2021-06-26 14:19:17  52.163702       1
3   311  21.115233          1004  2021-06-25 21:52:40  52.234580       2
4   196  21.115140          1005  2021-06-25 23:48:58  52.234611       1
5   130  21.115590          1008  2021-06-25 20:19:05  52.234613      04
6   213  21.089413          1010  2021-06-26 14:19:14  52.220626       2
7   213  21.223388          1011  2021-06-26 14:19:21  52.160044       4
8   311  21.115517          1012  2021-06-25 21:16:38  52.234615       1
9   213  21.089450          1015  2021-06-26 14:19:10  52.220059       3

In [7]:
df['Lines'] == '111'

0      False
1      False
2      False
3      False
4      False
       ...
985    False
986    False
987    False
988    False
989    False
Name: Lines, Length: 990, dtype: bool

In [8]:
df[df['Lines'] == '111']

    Lines        Lon VehicleNumber                 Time        Lat Brigade
436   111  21.062666          5900  2021-06-26 14:19:18  52.230801       4
445   111  21.101866          5920  2021-06-26 14:19:15  52.225124       6
447   111  21.107388          5922  2021-06-26 07:42:12  52.233645
448   111  21.116245          5926  2021-06-26 00:24:55  52.234005       5
449   111  21.009554          5927  2021-06-26 14:19:17  52.233833       3
450   111  21.006691          5931  2021-06-26 14:19:15  52.238033       8
482   111  21.102476          5984  2021-06-26 14:19:18  52.222061       5
483   111  21.057146          5985  2021-06-26 14:19:18  52.237259       7
484   111  20.982103          5986  2021-06-26 14:19:18  52.245338       2
495   111  20.979559          5999  2021-06-26 14:19:16  52.244495       1

In [29]:
print(df['Lines'] = 213)

SyntaxError: expression cannot contain assignment, perhaps you meant "=="? (<ipython-input-29-5cd15f9ab011>, line 1)

In [ ]:
from datetime import datetime

In [12]:
# datetime object containing current date and time
now = datetime.now()
 
print("now =", now)

# dd/mm/YY H:M:S
dt_string = now.strftime("%d-%m-%Y %H:%M:%S")
print("date and time =", dt_string)

now = 2021-06-26 14:33:50.498460
date and time = 26-06-2021 14:33:50

In [16]:
# datetime object containing current date and time

# dd/mm/YY H:M:S
dt_string = now.strftime("%d-%m-%Y %H:%M:%S")
print("date and time =", dt_string)	

directory = 'ztm_file_export/'
file_name = "ztm_bus_data_"
file_name += dt_string

df.to_csv(directory+file_name)

In [ ]:
https://api.um.warszawa.pl/api/action/busestrams_get/?resource_id=f2e5503e-927d-4ad3-9500-4ab9e55deb59&apikey=7a621357-5917-4df8-ae3d-8889bb779dd4&type=1

7a621357-5917-4df8-ae3d-8889bb779dd4