In [1]:
# https://python.plainenglish.io/from-api-to-pandas-getting-json-data-with-python-df127f699b6b

In [2]:
# to handle  data retrieval
import urllib3
from urllib3 import request# to handle certificate verification
import certifi# to manage json data
import json# for pandas dataframes
import pandas as pd# uncomment below if installation needed (not necessary in Colab)
#!pip install certifi

In [3]:
from datetime import datetime

In [4]:
import time

In [5]:
# handle certificate verification and SSL warnings
# https://urllib3.readthedocs.io/en/latest/user-guide.html#ssl

http = urllib3.PoolManager(cert_reqs='CERT_REQUIRED', ca_certs=certifi.where())

In [6]:
# get data from the API
url = 'https://api.um.warszawa.pl/api/action/busestrams_get/?resource_id=f2e5503e-927d-4ad3-9500-4ab9e55deb59&apikey=7a621357-5917-4df8-ae3d-8889bb779dd4&type=1'

In [7]:
def load_api_save_file(directory=''):
    r = http.request('GET', url)
    print(r.status)
    
    # decode json data into a dict object
    data = json.loads(r.data.decode('utf-8'))
    
    if(type(data['result']) == list):
       
    
        df = pd.json_normalize(data, 'result')
        df.head(10)

        # datetime object containing current date and time
        now = datetime.now()

        # dd/mm/YY H:M:S
        dt_string = now.strftime("%d-%m-%Y %H:%M:%S")
        print("date and time =", dt_string)	


        file_name = "ztm_bus_data_"
        file_name += dt_string
        file = directory + '/' + file_name

        df.to_csv(file)

In [8]:
for i in range(360):
    load_api_save_file('ztm_file_export_whole_hour')
    time.sleep(10)

200
date and time = 26-06-2021 17:23:57
200
date and time = 26-06-2021 17:24:07
200
date and time = 26-06-2021 17:24:18
200
date and time = 26-06-2021 17:24:28
200
date and time = 26-06-2021 17:24:38
200
date and time = 26-06-2021 17:24:49
200
date and time = 26-06-2021 17:25:00
200
date and time = 26-06-2021 17:25:10
200
date and time = 26-06-2021 17:25:21
200
date and time = 26-06-2021 17:25:31
200
date and time = 26-06-2021 17:25:42
200
date and time = 26-06-2021 17:25:52
200
date and time = 26-06-2021 17:26:03
200
date and time = 26-06-2021 17:26:13
200
date and time = 26-06-2021 17:26:24
200
date and time = 26-06-2021 17:26:34
200
date and time = 26-06-2021 17:26:45
200
date and time = 26-06-2021 17:26:56
200
date and time = 26-06-2021 17:27:06
200
200
date and time = 26-06-2021 17:27:27
200
date and time = 26-06-2021 17:27:37
200
date and time = 26-06-2021 17:27:48
200
date and time = 26-06-2021 17:27:58
200
date and time = 26-06-2021 17:28:09
200
date and time = 26-06-2021 17:28:19
200
date and time = 26-06-2021 17:28:30
200
date and time = 26-06-2021 17:28:40
200
date and time = 26-06-2021 17:28:51
200
date and time = 26-06-2021 17:29:01
200
date and time = 26-06-2021 17:29:12
200
date and time = 26-06-2021 17:29:22
200
date and time = 26-06-2021 17:29:33
200
date and time = 26-06-2021 17:29:43
200
date and time = 26-06-2021 17:29:53
200
date and time = 26-06-2021 17:30:04
200
date and time = 26-06-2021 17:30:14
200
date and time = 26-06-2021 17:30:25
200
date and time = 26-06-2021 17:30:35
200
date and time = 26-06-2021 17:30:45
200
date and time = 26-06-2021 17:30:56
200
date and time = 26-06-2021 17:31:06
200
date and time = 26-06-2021 17:31:17
200
date and time = 26-06-2021 17:31:27
200
date and time = 26-06-2021 17:31:38
200
date and time = 26-06-2021 17:31:48
200
date and time = 26-06-2021 17:31:58
200
date and time = 26-06-2021 17:32:09
200
date and time = 26-06-2021 17:32:19
200
date and time = 26-06-2021 17:32:30
200
date and time = 26-06-2021 17:32:40
200
date and time = 26-06-2021 17:32:50
200
date and time = 26-06-2021 17:33:01
200
date and time = 26-06-2021 17:33:11
200
date and time = 26-06-2021 17:33:22
200
date and time = 26-06-2021 17:33:32
200
date and time = 26-06-2021 17:33:43
200
date and time = 26-06-2021 17:33:53
200
date and time = 26-06-2021 17:34:04
200
date and time = 26-06-2021 17:34:14
200
date and time = 26-06-2021 17:34:24
200
date and time = 26-06-2021 17:34:35
200
date and time = 26-06-2021 17:34:45
200
date and time = 26-06-2021 17:34:56
200
date and time = 26-06-2021 17:35:06
200
date and time = 26-06-2021 17:35:17
200
date and time = 26-06-2021 17:35:27
200
date and time = 26-06-2021 17:35:37
200
date and time = 26-06-2021 17:35:48
200
date and time = 26-06-2021 17:35:58
200
date and time = 26-06-2021 17:36:09
200
date and time = 26-06-2021 17:36:19
200
date and time = 26-06-2021 17:36:30
200
date and time = 26-06-2021 17:36:40
200
date and time = 26-06-2021 17:36:52
200
date and time = 26-06-2021 17:37:04
200
date and time = 26-06-2021 17:37:15
200
date and time = 26-06-2021 17:37:25
200
date and time = 26-06-2021 17:37:35
200
date and time = 26-06-2021 17:37:46
200
date and time = 26-06-2021 17:37:56
200
date and time = 26-06-2021 17:38:07
200
date and time = 26-06-2021 17:38:17
200
date and time = 26-06-2021 17:38:27
200
date and time = 26-06-2021 17:38:38
200
date and time = 26-06-2021 17:38:48
200
date and time = 26-06-2021 17:39:00
200
date and time = 26-06-2021 17:39:10
200
date and time = 26-06-2021 17:39:20
200
date and time = 26-06-2021 17:39:31
200
date and time = 26-06-2021 17:39:41
200
date and time = 26-06-2021 17:39:52
200
date and time = 26-06-2021 17:40:03
200
date and time = 26-06-2021 17:40:14
200
date and time = 26-06-2021 17:40:24
200
date and time = 26-06-2021 17:40:35
200
date and time = 26-06-2021 17:40:45
200
date and time = 26-06-2021 17:40:56
200
date and time = 26-06-2021 17:41:06
200
date and time = 26-06-2021 17:41:16
200
date and time = 26-06-2021 17:41:27
200
date and time = 26-06-2021 17:41:38
200
date and time = 26-06-2021 17:41:49
200
date and time = 26-06-2021 17:41:59
200
date and time = 26-06-2021 17:42:09
200
date and time = 26-06-2021 17:42:20
200
date and time = 26-06-2021 17:42:30
200
date and time = 26-06-2021 17:42:41
200
date and time = 26-06-2021 17:42:51
200
date and time = 26-06-2021 17:43:01
200
date and time = 26-06-2021 17:43:12
200
date and time = 26-06-2021 17:43:22
200
date and time = 26-06-2021 17:43:33
200
date and time = 26-06-2021 17:43:43
200
date and time = 26-06-2021 17:43:53
200
date and time = 26-06-2021 17:44:04
200
date and time = 26-06-2021 17:44:14
200
date and time = 26-06-2021 17:44:24
200
date and time = 26-06-2021 17:44:35
200
date and time = 26-06-2021 17:44:46
200
date and time = 26-06-2021 17:44:56
200
date and time = 26-06-2021 17:45:07
200
date and time = 26-06-2021 17:45:19
200
date and time = 26-06-2021 17:45:29
200
date and time = 26-06-2021 17:45:40
200
date and time = 26-06-2021 17:45:50
200
date and time = 26-06-2021 17:46:01
200
date and time = 26-06-2021 17:46:11
200
date and time = 26-06-2021 17:46:29
200
date and time = 26-06-2021 17:46:39
200
date and time = 26-06-2021 17:46:50
200
date and time = 26-06-2021 17:47:00
200
date and time = 26-06-2021 17:47:10
200
date and time = 26-06-2021 17:47:21
200
date and time = 26-06-2021 17:47:32
200
date and time = 26-06-2021 17:47:42
200
date and time = 26-06-2021 17:47:53
200
date and time = 26-06-2021 17:48:04
200
date and time = 26-06-2021 17:48:15
200
date and time = 26-06-2021 17:48:25
200
date and time = 26-06-2021 17:48:35
200
date and time = 26-06-2021 17:48:47
200
date and time = 26-06-2021 17:48:57
200
date and time = 26-06-2021 17:49:07
200
date and time = 26-06-2021 17:49:20
200
date and time = 26-06-2021 17:49:30
200
date and time = 26-06-2021 17:49:41
200
date and time = 26-06-2021 17:49:52
200
date and time = 26-06-2021 17:50:03
200
date and time = 26-06-2021 17:50:13
200
date and time = 26-06-2021 17:50:24
200
date and time = 26-06-2021 17:50:34
200
date and time = 26-06-2021 17:50:45
200
date and time = 26-06-2021 17:50:55
200
200
date and time = 26-06-2021 17:51:17
200
date and time = 26-06-2021 17:51:28
200
date and time = 26-06-2021 17:51:39
200
date and time = 26-06-2021 17:51:49
200
date and time = 26-06-2021 17:52:01
200
date and time = 26-06-2021 17:52:12
200
date and time = 26-06-2021 17:52:22
200
date and time = 26-06-2021 17:52:33
200
date and time = 26-06-2021 17:52:43
200
date and time = 26-06-2021 17:52:54
200
date and time = 26-06-2021 17:53:04
200
date and time = 26-06-2021 17:53:16
200
date and time = 26-06-2021 17:53:26
200
date and time = 26-06-2021 17:53:42
200
date and time = 26-06-2021 17:53:53
200
date and time = 26-06-2021 17:54:04
200
date and time = 26-06-2021 17:54:14
200
date and time = 26-06-2021 17:54:25
200
date and time = 26-06-2021 17:54:36
200
date and time = 26-06-2021 17:54:46
200
date and time = 26-06-2021 17:54:57
200
date and time = 26-06-2021 17:55:09
200
date and time = 26-06-2021 17:55:20
200
date and time = 26-06-2021 17:55:32
200
date and time = 26-06-2021 17:55:42
200
date and time = 26-06-2021 17:55:54
200
date and time = 26-06-2021 17:56:05
200
date and time = 26-06-2021 17:56:16
200
date and time = 26-06-2021 17:56:30
200
date and time = 26-06-2021 17:56:42
200
date and time = 26-06-2021 17:56:52
200
date and time = 26-06-2021 17:57:03
200
date and time = 26-06-2021 17:57:13
200
date and time = 26-06-2021 17:57:24
200
date and time = 26-06-2021 17:57:34
200
date and time = 26-06-2021 17:57:45
200
date and time = 26-06-2021 17:57:56
200
date and time = 26-06-2021 17:58:06
200
date and time = 26-06-2021 17:58:17
200
date and time = 26-06-2021 17:58:27
200
date and time = 26-06-2021 17:58:37
200
date and time = 26-06-2021 17:58:48
200
date and time = 26-06-2021 17:58:58
200
date and time = 26-06-2021 17:59:09
200
date and time = 26-06-2021 17:59:19
200
date and time = 26-06-2021 17:59:30
200
date and time = 26-06-2021 17:59:40
200
date and time = 26-06-2021 17:59:50
200
date and time = 26-06-2021 18:00:01
200
date and time = 26-06-2021 18:00:11
200
date and time = 26-06-2021 18:00:22
200
date and time = 26-06-2021 18:00:32
200
date and time = 26-06-2021 18:00:42
200
200
date and time = 26-06-2021 18:01:04
200
date and time = 26-06-2021 18:01:15
200
date and time = 26-06-2021 18:01:25
200
date and time = 26-06-2021 18:01:36
200
date and time = 26-06-2021 18:01:46
200
date and time = 26-06-2021 18:01:57
200
date and time = 26-06-2021 18:02:07
200
date and time = 26-06-2021 18:02:18
200
date and time = 26-06-2021 18:02:30
200
date and time = 26-06-2021 18:02:41
200
date and time = 26-06-2021 18:02:51
200
date and time = 26-06-2021 18:03:02
200
date and time = 26-06-2021 18:03:12
200
date and time = 26-06-2021 18:03:23
200
date and time = 26-06-2021 18:03:33
200
date and time = 26-06-2021 18:03:48
200
date and time = 26-06-2021 18:03:58
200
date and time = 26-06-2021 18:04:09
200
date and time = 26-06-2021 18:04:19
200
date and time = 26-06-2021 18:04:30
200
date and time = 26-06-2021 18:04:42
200
date and time = 26-06-2021 18:04:53
200
date and time = 26-06-2021 18:05:05
200
date and time = 26-06-2021 18:05:16
200
date and time = 26-06-2021 18:05:27
200
date and time = 26-06-2021 18:05:37
200
date and time = 26-06-2021 18:05:47
200
date and time = 26-06-2021 18:05:58
200
date and time = 26-06-2021 18:06:08
200
date and time = 26-06-2021 18:06:19
200
date and time = 26-06-2021 18:06:29
200
date and time = 26-06-2021 18:06:40
200
date and time = 26-06-2021 18:06:50
200
date and time = 26-06-2021 18:07:01
200
date and time = 26-06-2021 18:07:12
200
date and time = 26-06-2021 18:07:22
200
date and time = 26-06-2021 18:07:33
200
date and time = 26-06-2021 18:07:43
200
date and time = 26-06-2021 18:07:53
200
date and time = 26-06-2021 18:08:04
200
date and time = 26-06-2021 18:08:14
200
date and time = 26-06-2021 18:08:24
200
date and time = 26-06-2021 18:08:35
200
date and time = 26-06-2021 18:08:45
200
date and time = 26-06-2021 18:08:55
200
date and time = 26-06-2021 18:09:06
200
date and time = 26-06-2021 18:09:16
200
date and time = 26-06-2021 18:09:27
200
200
date and time = 26-06-2021 18:09:47
200
date and time = 26-06-2021 18:09:58
200
date and time = 26-06-2021 18:10:08
200
date and time = 26-06-2021 18:10:19
200
date and time = 26-06-2021 18:10:29
200
date and time = 26-06-2021 18:10:41
200
date and time = 26-06-2021 18:10:53
200
date and time = 26-06-2021 18:11:03
200
date and time = 26-06-2021 18:11:14
200
date and time = 26-06-2021 18:11:24
200
date and time = 26-06-2021 18:11:35
200
date and time = 26-06-2021 18:11:45
200
date and time = 26-06-2021 18:11:56
200
date and time = 26-06-2021 18:12:07
200
date and time = 26-06-2021 18:12:18
200
date and time = 26-06-2021 18:12:29
200
date and time = 26-06-2021 18:12:39
200
date and time = 26-06-2021 18:12:49
200
date and time = 26-06-2021 18:13:00
200
date and time = 26-06-2021 18:13:11
200
date and time = 26-06-2021 18:13:21
200
date and time = 26-06-2021 18:13:32
200
date and time = 26-06-2021 18:13:42
200
date and time = 26-06-2021 18:13:53
200
date and time = 26-06-2021 18:14:03
200
date and time = 26-06-2021 18:14:15
200
date and time = 26-06-2021 18:14:26
200
date and time = 26-06-2021 18:14:37
200
date and time = 26-06-2021 18:14:48
200
date and time = 26-06-2021 18:14:59
200
date and time = 26-06-2021 18:15:09
200
date and time = 26-06-2021 18:15:22
200
date and time = 26-06-2021 18:15:33
200
date and time = 26-06-2021 18:15:43
200
date and time = 26-06-2021 18:15:54
200
200
date and time = 26-06-2021 18:16:15
200
date and time = 26-06-2021 18:16:26
200
date and time = 26-06-2021 18:16:37
200
date and time = 26-06-2021 18:16:47
200
date and time = 26-06-2021 18:16:58
200
date and time = 26-06-2021 18:17:09
200
date and time = 26-06-2021 18:17:19
200
date and time = 26-06-2021 18:17:30
200
date and time = 26-06-2021 18:17:41
200
date and time = 26-06-2021 18:17:51
200
date and time = 26-06-2021 18:18:02
200
date and time = 26-06-2021 18:18:13
200
date and time = 26-06-2021 18:18:24
200
date and time = 26-06-2021 18:18:34
200
date and time = 26-06-2021 18:18:45
200
date and time = 26-06-2021 18:18:55
200
date and time = 26-06-2021 18:19:06
200
date and time = 26-06-2021 18:19:17
200
date and time = 26-06-2021 18:19:27
200
date and time = 26-06-2021 18:19:38
200
date and time = 26-06-2021 18:19:48

FileNotFoundError: [Errno 2] No such file or directory: 'ztm_file_export_whole_hour/ztm_bus_data_26-06-2021 18:19:48'

In [3]:
r = http.request('GET', url)
r.status

200

In [4]:
# decode json data into a dict object
data = json.loads(r.data.decode('utf-8'))
data['result'][:5]

[{'Lines': '213',
  'Lon': 21.1152613,
  'VehicleNumber': '1000',
  'Time': '2021-06-25 23:22:58',
  'Lat': 52.2346205,
  'Brigade': '3'},
 {'Lines': '213',
  'Lon': 21.115043,
  'VehicleNumber': '1001',
  'Time': '2021-06-25 23:56:49',
  'Lat': 52.23463,
  'Brigade': '1'},
 {'Lines': '213',
  'Lon': 21.2196693,
  'VehicleNumber': '1003',
  'Time': '2021-06-26 14:19:17',
  'Lat': 52.1637016,
  'Brigade': '1'},
 {'Lines': '311',
  'Lon': 21.115233,
  'VehicleNumber': '1004',
  'Time': '2021-06-25 21:52:40',
  'Lat': 52.23458,
  'Brigade': '2'},
 {'Lines': '196',
  'Lon': 21.11514,
  'VehicleNumber': '1005',
  'Time': '2021-06-25 23:48:58',
  'Lat': 52.234611,
  'Brigade': '1'}]

In [5]:
df = pd.json_normalize(data, 'result')
df.head(10)

  Lines        Lon VehicleNumber                 Time        Lat Brigade
0   213  21.115261          1000  2021-06-25 23:22:58  52.234620       3
1   213  21.115043          1001  2021-06-25 23:56:49  52.234630       1
2   213  21.219669          1003  2021-06-26 14:19:17  52.163702       1
3   311  21.115233          1004  2021-06-25 21:52:40  52.234580       2
4   196  21.115140          1005  2021-06-25 23:48:58  52.234611       1
5   130  21.115590          1008  2021-06-25 20:19:05  52.234613      04
6   213  21.089413          1010  2021-06-26 14:19:14  52.220626       2
7   213  21.223388          1011  2021-06-26 14:19:21  52.160044       4
8   311  21.115517          1012  2021-06-25 21:16:38  52.234615       1
9   213  21.089450          1015  2021-06-26 14:19:10  52.220059       3

In [7]:
df['Lines'] == '111'

0      False
1      False
2      False
3      False
4      False
       ...
985    False
986    False
987    False
988    False
989    False
Name: Lines, Length: 990, dtype: bool

In [8]:
df[df['Lines'] == '111']

    Lines        Lon VehicleNumber                 Time        Lat Brigade
436   111  21.062666          5900  2021-06-26 14:19:18  52.230801       4
445   111  21.101866          5920  2021-06-26 14:19:15  52.225124       6
447   111  21.107388          5922  2021-06-26 07:42:12  52.233645
448   111  21.116245          5926  2021-06-26 00:24:55  52.234005       5
449   111  21.009554          5927  2021-06-26 14:19:17  52.233833       3
450   111  21.006691          5931  2021-06-26 14:19:15  52.238033       8
482   111  21.102476          5984  2021-06-26 14:19:18  52.222061       5
483   111  21.057146          5985  2021-06-26 14:19:18  52.237259       7
484   111  20.982103          5986  2021-06-26 14:19:18  52.245338       2
495   111  20.979559          5999  2021-06-26 14:19:16  52.244495       1

In [29]:
print(df['Lines'] = 213)

SyntaxError: expression cannot contain assignment, perhaps you meant "=="? (<ipython-input-29-5cd15f9ab011>, line 1)

In [ ]:
from datetime import datetime

In [12]:
# datetime object containing current date and time
now = datetime.now()
 
print("now =", now)

# dd/mm/YY H:M:S
dt_string = now.strftime("%d-%m-%Y %H:%M:%S")
print("date and time =", dt_string)

now = 2021-06-26 14:33:50.498460
date and time = 26-06-2021 14:33:50

In [16]:
# datetime object containing current date and time

# dd/mm/YY H:M:S
dt_string = now.strftime("%d-%m-%Y %H:%M:%S")
print("date and time =", dt_string)	

directory = 'ztm_file_export/'
file_name = "ztm_bus_data_"
file_name += dt_string

df.to_csv(directory+file_name)

In [ ]:
https://api.um.warszawa.pl/api/action/busestrams_get/?resource_id=f2e5503e-927d-4ad3-9500-4ab9e55deb59&apikey=7a621357-5917-4df8-ae3d-8889bb779dd4&type=1

7a621357-5917-4df8-ae3d-8889bb779dd4